body {
  background-color: #050505; /* Black background */
  color: #fff; /* White text */
  font-family: "Graduate", serif;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: "Graduate", serif;
}

h3,
h4,
h5,
h6 {
  font-family: "Lato", serif;
  color: #fff;
}

p {
  color: white;
  font-family: "Lato", serif;
}

a {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  color: #ccc;
}

.btn-primary {
  background-color: #fff;
  color: #000;
  border: none;
}

.btn-primary:hover {
  background-color: #ccc;
  color: #000;
}

.custom-navbar {
  background-color: #000;
  padding: 1.7rem;
  border-bottom: 1px solid #333;
}

.custom-navbar .navbar-brand {
  font-family: "Graduate", serif;
  font-weight: 800;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}

.custom-navbar .nav-link {
  font-family: "Graduate", serif;
  color: #f5f5f5;
  margin-left: 1rem;
  transition: color 0.3s ease;
}

.custom-navbar .nav-link:hover {
  color: #969696;
}

.navbar-toggler {
  border-color: #fff;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.alert {
  color: black;
  background-color: rgb(246, 246, 246, 0.8);
  width: 60%;
}

.table {
  color: #fff;
  background-color: #111;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #222;
}

input,
textarea,
select {
  background-color: #222;
  color: #fff;
  border: 1px solid #444;
}

input::placeholder,
textarea::placeholder {
  color: #888;
}
