{% extends "partials/base.html" %} {% block title %}Assign User{% endblock %} {%
block content %}
<div class="container mt-4">
  <h2>Assign User to Event: {{ event.name }}</h2>
  <form method="POST">
    <div class="mb-3">
      <label>Select User</label>
      <select name="user_id" class="form-select">
        {% for user in users %}
        <option value="{{ user.id }}">
          {{ user.fullname }} ({{ user.email }})
        </option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Assign</button>
  </form>
</div>
{% endblock %}
